h1{
    color:rosybrown;
    /*comentario*/
}

h2{
    margin: 0px;
}
.time{
    width:400px;
    border: solid rgb(182, 57, 57) 1px;
    padding:30px ;
    margin:50px;
    box-shadow:rgb(168, 100, 100) ;
}

.imagem-time{
    width: 100px;
}
